# **Assignment For Numpy**

Difficulty Level **Beginner**

1. Import the numpy package under the name np

In [1]:
# import numpy lib 
import numpy as np

2. Create a null vector of size 10

In [2]:
# lets assume a null vector as null_vector with size 10
null_vector = np.zeros(10)
null_vector

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

3. Create a vector with values ranging from 10 to 49

In [3]:
# creating a vector using arange function
vector = np.arange(10,50)
vector

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

4. Find the shape of previous array in question 3

In [4]:
# for geting shape of a vector; a variable vector taken from question 3
np.shape(vector) # or vector.shape

(40,)

5. Print the type of the previous array in question 3

In [5]:
# To know the type of vector from question 3
type(vector)

numpy.ndarray

6. Print the numpy version and the configuration

In [6]:
print("\nNumpy Version:",np.__version__, "\n\nConfiguration:",np.show_config())

blas_mkl_info:
  NOT AVAILABLE
blis_info:
  NOT AVAILABLE
openblas_info:
    library_dirs = ['D:\\a\\1\\s\\numpy\\build\\openblas_info']
    libraries = ['openblas_info']
    language = f77
    define_macros = [('HAVE_CBLAS', None)]
blas_opt_info:
    library_dirs = ['D:\\a\\1\\s\\numpy\\build\\openblas_info']
    libraries = ['openblas_info']
    language = f77
    define_macros = [('HAVE_CBLAS', None)]
lapack_mkl_info:
  NOT AVAILABLE
openblas_lapack_info:
    library_dirs = ['D:\\a\\1\\s\\numpy\\build\\openblas_lapack_info']
    libraries = ['openblas_lapack_info']
    language = f77
    define_macros = [('HAVE_CBLAS', None)]
lapack_opt_info:
    library_dirs = ['D:\\a\\1\\s\\numpy\\build\\openblas_lapack_info']
    libraries = ['openblas_lapack_info']
    language = f77
    define_macros = [('HAVE_CBLAS', None)]

Numpy Version: 1.19.3

Configuration: None

7. Print the dimension of the array in question 3

In [7]:
np.ndim(vector)# or vector.ndim

1

8. Create a boolean array with all the True values

In [8]:
# lets assume an array arr1
arr1 = np.array([1,2,3,4,True], dtype =bool)
arr1

array([ True,  True,  True,  True,  True])

9. Create a two dimensional array

In [9]:
array2d = np.arange(1,9).reshape(2,4)
print(array2d)
print(f"\nDimensions:\n{array2d.ndim}")# to check dimension

[[1 2 3 4]
 [5 6 7 8]]

Dimensions:
2

10. Create a three dimensional array

In [10]:
array3d = np.arange(1,13).reshape(2,2,3) # witH depth 2
print(array3d)
print(f"\nDimensions:\n{array3d.ndim}") # to check dimension

[[[ 1  2  3]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]]

Dimensions:
3

Difficulty Level **Easy**

11. Reverse a vector (first element becomes last)

In [11]:
# lets us create a vector 
vect = np.arange(1,31)
print(f"one dimension array in reverse:{vect[::-1]}") # or we can flip with np.flip(array)

one dimension array in reverse:[30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10  9  8  7
  6  5  4  3  2  1]

12. Create a null vector of size 10 but the fifth value which is 1

In [12]:
n_vector = np.zeros((10),dtype=np.int32)
n_vector[4] =1 # replacing 5th element with 1
n_vector

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0])

13. Create a 3x3 identity matrix

In [13]:
# creating 3x3 identity matrix
identity_matrix = np.identity(3)
identity_matrix

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

14. arr = np.array([1, 2, 3, 4, 5]) 

---

 Convert the data type of the given array from int to float

In [14]:
# the given array is as
arr = np.array([1, 2, 3, 4, 5])
float_arr = arr.astype(np.float)# casting float type from int
float_arr

array([1., 2., 3., 4., 5.])

15. arr1 =          np.array([[1., 2., 3.],

                    [4., 5., 6.]])  
                      
    arr2 = np.array([[0., 4., 1.],
     
                   [7., 2., 12.]])

---


Multiply arr1 with arr2

In [15]:
# Given arrays arr1, arr2 as 
arr1 = np.array([[1., 2., 3.],[4., 5., 6.]]) 
arr2 = np.array([[0., 4., 1.],[7., 2., 12.]])
multiplication = arr1*arr2
multiplication

array([[ 0.,  8.,  3.],
       [28., 10., 72.]])

16. arr1 = np.array([[1., 2., 3.],
                    [4., 5., 6.]]) 
                    
    arr2 = np.array([[0., 4., 1.], 
                    [7., 2., 12.]])


---

Make an array by comparing both the arrays provided above

In [16]:
#Given arrays are as
arr1 = np.array([[1., 2., 3.],[4., 5., 6.]]) 
arr2 = np.array([[0., 4., 1.],[7., 2., 12.]])
comparison = arr1==arr2 # create a variable comparison for comparing arr1 & arr2
arr3 = comparison.all() # used .all() for all elements through
print(comparison)
print("\nNew array by comparing both the arrays:\n",comparison[comparison[:]])

[[False False False]
 [False False False]]

New array by comparing both the arrays:
 []

17. Extract all odd numbers from arr with values(0-9)

In [17]:
array = np.arange(0,10) # array from 0 to 9

odd_num = array[array%2 == 1] # as remainder =1 equals odd numbers
odd_num

array([1, 3, 5, 7, 9])

18. Replace all odd numbers to -1 from previous array

In [18]:
odd_num[:] =-1 # replacing all odd elements with -1
odd_num

array([-1, -1, -1, -1, -1])

19. arr = np.arange(10)


---

Replace the values of indexes 5,6,7 and 8 to **12**

In [19]:
arr = np.arange(10)
print(f"Given Array:\n{arr}")
arr[5:9] = 12 # replacing 5 to 8 with 12
print(f"\nAfter replacing index 5 to 8 with 12:\n{arr}")

Given Array:
[0 1 2 3 4 5 6 7 8 9]

After replacing index 5 to 8 with 12:
[ 0  1  2  3  4 12 12 12 12  9]

20. Create a 2d array with 1 on the border and 0 inside

In [20]:
new_arr2d = np.ones((6,6),  dtype=np.int32) # creating 6x6 array
new_arr2d
new_arr2d[1:-1,1:-1] = 0 # selecting elements from first row to the last and same for column
new_arr2d

array([[1, 1, 1, 1, 1, 1],
       [1, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 1],
       [1, 1, 1, 1, 1, 1]])

Difficulty Level **Medium**

21. arr2d = np.array([[1, 2, 3],

                    [4, 5, 6], 

                    [7, 8, 9]])

---

Replace the value 5 to 12

In [21]:
# Given arr2d array as
arr2d = np.array([[1, 2, 3],[4, 5, 6],[7, 8, 9]])
arr2d
arr2d[1:2,1:2] = 12 # making 5 to value 12
arr2d

array([[ 1,  2,  3],
       [ 4, 12,  6],
       [ 7,  8,  9]])

22. arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

---
Convert all the values of 1st array to 64

In [22]:
# Given arr3d as
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
print(arr3d)
arr3d[0:1,0:2] = 64 # Converting all the values of 1st array to 64
print("\nFirst array replaced with 64:\n\n",arr3d)

[[[ 1  2  3]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]]

First array replaced with 64:

 [[[64 64 64]
  [64 64 64]]

 [[ 7  8  9]
  [10 11 12]]]

23. Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [23]:
two_d_arr = np.arange(0,10).reshape(2,5) # creating 0-9 values array 
print(two_d_arr) # 2 dim array 
x = two_d_arr[0:1,0:5] # slicing the first 1 dim array
print("\nSliced out first 1-D array: ",x[0]) # this is 1 dim array checked with np.ndim(x[0])

[[0 1 2 3 4]
 [5 6 7 8 9]]

Sliced out first 1-D array:  [0 1 2 3 4]

24. Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

In [24]:
array2d = np.arange(0,10).reshape(2,5)
print(array2d,"\n") # evaluated array is 2 dim with np.ndim(array2d)
# slicing of 2nd 1 dim array
y = array2d[1:2,0:5]
print("2nd 1 D array: ",y[0]) # this is 1 dim array checked with np.ndim(y[0])

print("2nd value is ",y[0][1]) # hence the 2nd value is 6 from 2nd 1 dim arry

[[0 1 2 3 4]
 [5 6 7 8 9]]

2nd 1 D array:  [5 6 7 8 9]
2nd value is  6

25. Make a 2-Dimensional array with values 0-9 and slice out the third column but only the first two rows

In [25]:
dim2_arr = np.arange(0,10).reshape(2,5)
#np.ndim(dim2_arr) or dim2_arr.ndim
print(dim2_arr)
print("\nThird column:\n",dim2_arr[0:2,2:3]) # selecting third column

[[0 1 2 3 4]
 [5 6 7 8 9]]

Third column:
 [[2]
 [7]]

26. Create a 10x10 array with random values and find the minimum and maximum values

In [26]:
new_array = np.random.random((10,10)) # 10x10 matrix with random values
print("\n10x10 array with random values:\n\n",new_array)
min_value, max_value = new_array.min(), new_array.max() # assigning variable for minimum and maximum
print(f"\nMinimum value: {min_value}\nMaximum value: {max_value}")

10x10 array with random values:

 [[0.35838796 0.91878262 0.15109631 0.36388919 0.53245676 0.32814978
  0.03077393 0.97477029 0.86283916 0.54342763]
 [0.96217279 0.36731298 0.49226276 0.52839112 0.08009741 0.751328
  0.80272512 0.70916249 0.25131663 0.22859313]
 [0.35098743 0.70795135 0.07035843 0.86873273 0.99593969 0.07816381
  0.67466873 0.11783942 0.92009843 0.66491816]
 [0.33792526 0.10484816 0.83621758 0.11179361 0.53840784 0.90180091
  0.8948293  0.68587698 0.45196944 0.65932684]
 [0.27735834 0.1165037  0.23304704 0.14165082 0.45168542 0.31940486
  0.21794281 0.28778996 0.820537   0.41345712]
 [0.87633857 0.45150311 0.14554513 0.3083386  0.59143796 0.41507802
  0.87245676 0.35270672 0.30257874 0.02028315]
 [0.14718156 0.36267536 0.62085018 0.61501786 0.14508468 0.80849662
  0.82820405 0.70180561 0.70821706 0.23643344]
 [0.47629301 0.48096347 0.00114491 0.0708228  0.01397302 0.52537761
  0.04786176 0.47605068 0.02556434 0.49123123]
 [0.57454518 0.92832609 0.04690752 0.49382007 0.43821051 0.56859465
  0.10662464 0.50479106 0.6609882  0.07759844]
 [0.50680361 0.05311243 0.62717547 0.42687915 0.90635289 0.97633445
  0.22807288 0.11067684 0.15710414 0.30828262]]

Minimum value: 0.0011449069604991813
Maximum value: 0.9959396933657182

27. a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])
---
Find the common items between a and b

In [27]:
a = np.array([1,2,3,2,3,4,3,4,5,6]) # given array 
b = np.array([7,2,10,2,7,4,9,4,9,8]) # given array
common = np.intersect1d(a,b) # geting common, assigned a variable common
print("Common values:\n{0}".format(common))

Common values:
[2 4]

28. a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

---
Find the positions where elements of a and b match

In [28]:
a = np.array([1,2,3,2,3,4,3,4,5,6]) 
b = np.array([7,2,10,2,7,4,9,4,9,8])
x = np.where(np.in1d(a,b)) # finding elements match on indexes
print(f"Elements match on indexes in both arrays:\n{x}")

Elements match on indexes in both arrays:
(array([1, 3, 5, 7], dtype=int64),)

29.  names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will**

In [29]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) 
names
data = np.random.randn(7, 4)
data
data[names!='Will'] # skipping the rows where 'Will'

array([[ 0.22746582, -0.02104942, -0.06673368,  1.1490483 ],
       [-0.4763998 ,  0.00680362, -1.85097611, -0.65248584],
       [-0.78626912, -0.3596228 ,  1.54336983, -0.89640471],
       [-0.35815303, -0.82680501,  0.46169524,  0.58870014],
       [ 0.05887177,  1.16134584, -0.72148113, -0.73291948]])

30. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will** and **Joe**

In [30]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) 
names
data = np.random.randn(7, 4)
data
combined_data = (names != 'Will') | (names != 'Joe') # combined search criteria
data[combined_data]

array([[ 0.5037751 , -0.54185489,  0.23746882, -1.26392791],
       [ 2.02494948, -0.40210217,  0.05722563,  0.30821494],
       [ 0.07830356, -0.65567887, -0.29283056, -0.12789528],
       [-0.41292656, -1.93071802,  0.4142004 ,  0.30303472],
       [-0.26724848, -0.12547467,  0.37674607, -1.98832089],
       [ 0.50104205,  0.26700695, -0.80548318,  0.16613744],
       [-1.35910882,  1.48265076, -1.8709016 , -2.15651035]])

Difficulty Level **Hard**

31. Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [137]:
arr2d = np.arange(1,16,dtype =float).reshape(5,3) # Creating a 2D array of shape 5x3 
print(arr2d)

[[ 1.  2.  3.]
 [ 4.  5.  6.]
 [ 7.  8.  9.]
 [10. 11. 12.]
 [13. 14. 15.]]

32. Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

In [138]:
arr = np.arange(1,17,dtype=float).reshape(2,2,4)
arr

array([[[ 1.,  2.,  3.,  4.],
        [ 5.,  6.,  7.,  8.]],

       [[ 9., 10., 11., 12.],
        [13., 14., 15., 16.]]])

33. Swap axes of the array you created in Question 32

In [33]:
arr.T

array([[[ 1,  9],
        [ 5, 13]],

       [[ 2, 10],
        [ 6, 14]],

       [[ 3, 11],
        [ 7, 15]],

       [[ 4, 12],
        [ 8, 16]]])

34. Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

In [34]:
ar = np.arange(10)
ar
x = np.sqrt(ar)
x

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ])

35. Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

In [35]:
x = np.random.randn(12)
y = np.random.randn(12)
np.maximum(x, y) #compares both arrays element wise and max is included in result

array([-0.30899025, -0.41821573,  0.98160318,  0.31052569, -0.88505817,
        1.61494184, -0.5331167 , -0.08813595,  0.83372128,  1.39652723,
        0.71364425,  0.71641533])

36. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

---
Find the unique names and sort them out!

In [36]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
names_unique = np.unique(names)
names_unique.sort()
names_unique

array(['Bob', 'Joe', 'Will'], dtype='<U4')

37. a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

---
From array a remove all items present in array b

In [37]:
a = np.array([1,2,3,4,5]) 
b = np.array([5,6,7,8,9])
a[:] = b
a

array([5, 6, 7, 8, 9])

38.  Following is the input NumPy array delete column two and insert following new column in its place.

---
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]]) 


---

newColumn = numpy.array([[10,10,10]])

In [64]:
#Given array
sampleArray = np.array([[34,43,73],[82,22,12],[53,94,66]]) # given array as sampleArray
print(f"Given Array:\n{sampleArray}\n") # shape is (3,3)
#newColumn need to be inserted in place of 2nd column of sampleArray
newColumn =np.array([[10,10,10]]) # shape is (1,3)
newColumn = newColumn.reshape(3,1) # reshaping to broadcast (3,1)
newColumn # making it available to use in next steps
sampleArray[0:,1:2] = newColumn # replacement of 2nd column of sampleArray with newColumn
print(f"Inserted newColumn into 2nd column of sampleArray:\n{sampleArray}")

Given Array:
[[34 43 73]
 [82 22 12]
 [53 94 66]]

Inserted newColumn into 2nd column of sampleArray:
[[34 10 73]
 [82 10 12]
 [53 10 66]]

39. x = np.array([[1., 2., 3.], [4., 5., 6.]]) y = np.array([[6., 23.], [-1, 7], [8, 9]])


---
Find the dot product of the above two matrix

In [39]:
x = np.array([[1., 2., 3.], [4., 5., 6.]]) 
y = np.array([[6., 23.], [-1, 7], [8, 9]])
z = np.dot(x,y) # hence no of col of 1st array = no of rows 2nd array
z

array([[ 28.,  64.],
       [ 67., 181.]])

40. Generate a matrix of 20 random values and find its cumulative sum

In [40]:
rand_matrix = np.random.rand(20)
print(f"The cumulative sum of array is:\n{rand_matrix.cumsum()}")

The cumulative sum of array is:
[ 0.86546089  1.31019001  2.26344201  3.08791345  3.91507057  4.67674877
  4.9096784   5.8698185   5.97325475  6.61812852  6.7290672   6.866145
  7.59557768  8.35041063  9.22839669  9.32857042  9.72523811 10.35528582
 10.71133302 11.31530837]